.calculator {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-calculator);
}
.calculator__container {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 834px) {
  .calculator {
    width: 380px;
    min-height: 570px;
    margin: 40px auto;
    border-radius: 30px;
    background: var(--bg-calculator);
    box-shadow: 0 8px 20px rgba(41, 25, 25, 0.3);
  }
  .calculator__container {
    max-width: auto;
  }
}

@media screen and (min-width: 1440px) {
  .calculator {
    width: 400px;
    height: 590px;
  }
}
